<div style="height:85vh;" class="text-center d-flex justify-content-center align-items-center">
    <form #applyForm="ngForm" class="col-sm-3" (ngSubmit)="apply()">
        <h2 class="mb-4">Apply for your ID</h2>
        <div class="row mb-3">
            <div class="col">
              <input type="text" class="form-control" #firstName="ngModel" [(ngModel)]="applyData.FirstName" name="firstName" placeholder="First name" aria-label="First name">
            </div>
            <div class="col">
              <input type="text" class="form-control" #lastName="ngModel" [(ngModel)]="applyData.LastName" name="lastName" placeholder="Last name" aria-label="Last name">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="email" class="form-control" #email="ngModel" [(ngModel)]="applyData.Email" name="email" placeholder="Email Address" aria-label="First name">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="text" class="form-control" #phone="ngModel" [(ngModel)]="applyData.Phone" name="phone" placeholder="Mobile Number" aria-label="Last name">
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3 col">
                <label class="input-group-text" for="inputGroupFile01">Upload Photo</label>
                <input type="file" class="form-control" id="inputGroupFile01">
              </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <select class="form-select" #course="ngModel" [(ngModel)]="applyData.Course" name="course" aria-label="Default select example">
                    <option selected>Course Type</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Batch</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="text" class="form-control" placeholder="Course Starting Date" aria-label="First name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Course Ending Date" aria-label="Last name">
              </div>
        </div>
        <div class=" pt-3">
            <button class="w-75 btn btn-lg btn-primary" type="submit">Submit Application</button>
        </div>
    </form>
</div>
{{applyData | json}}
